.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 60vw;
    height: 100vh;
    padding: 30px;
    background-color: whitesmoke;

}

.heading {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.question { 
    height: 90.5vh;
    margin-top: 20px;
    background-color: gray;
}

.button {
    border: 2px solid rgb(236, 233, 233);
    padding: 6px 17px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(255, 250, 250);
    color: black;
    cursor: pointer;
}